@import url("normalize.css");

/* 
=====================================
NAVIGATION SECTION 
=====================================
*/

.navegacion {
  display: flex;
  justify-content: space-around;
  padding: 6.5rem;
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.logo h2 {
  color: #292f36;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
}

.logo img {
  max-width: 3.4rem;
}
.navegacion-items {
  color: #292f36;
  font-family: "DM Serif Display", serif;
}

.navegacion-items a {
  margin-right: 3rem;
}

.navegacion-items img {
  max-width: 3rem;
  margin-right: 3rem;
}

/* 
=====================================
HERO SECTION 
=====================================
*/

.hero-section {
  max-width: 192rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.hero-section-content {
  position: absolute;
  background-color: #fff;
  padding: 4rem 15rem;
  border-radius: 3.7rem 3.7rem 0 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.hero-section__page-title {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 5rem;
}

.hero-section__page-route {
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
}

/* 
=====================================
SERVICES SECTION 
=====================================
*/

.services_section {
  max-width: 115rem;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 38rem auto 0 auto;
}

.services_text-box {
  gap: 4.2rem;
  text-align: center;
}

.services_text-box h3 {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}

.services_text-box p {
  max-width: 35rem;
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.22px;
  gap: 4.2rem;
  margin-top: 2rem;
}

.services_text-box button {
  color: #4d5053;
  font-family: "Jost";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  letter-spacing: 0.36px;
  margin: 5.2rem auto 17rem;
}

.services_button {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.services_text-box img {
  max-width: 1.5rem;
}

/* 
=====================================
HOW WE WORK SECTION 
=====================================
*/

.work_section {
  max-width: 120rem;
  width: 95%;
  background-color: #f4f0ec;
  border-radius: 7rem;
  padding: 16rem 11.6rem;
  margin: 0 auto;
  text-align: center;
}

.work_section__text {
  max-width: 96.7rem;
  background-color: #f4f0ec;
}

.work_section__text h3 {
  max-width: 56.9rem;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 5rem;
  font-weight: 400;
  line-height: 6.2rem;
  margin: 0 auto;
}

.work_section__text p {
  max-width: 80.2rem;
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.22px;
  margin: 2rem auto 0 auto;
}

.group_how_work {
  display: flex;
  gap: 5rem;
  margin-top: 10rem;
}

.how_work1__img img {
  max-width: 95.5rem;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 75%;
}

.work1__img {
  display: flex;
  justify-content: space-between;
}

.work1__img img {
  max-width: 9.2rem;
}

.work1__img p {
  font-size: 12rem;
  color: #fff;
}

.how_work1__text h3 {
  max-width: 28.8rem;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.3rem;
  margin-top: 5.8rem;
}

.how_we_work1_p {
  max-width: 45.6rem;
  color: #4d5053;
  font-family: "Jost";
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.22px;
  margin-top: 1.1rem;
}

.work2__img {
  display: flex;
  justify-content: space-between;
}

.work2__img img {
  max-width: 9.2rem;
}

.work2__img p {
  font-size: 12rem;
  color: #fff;
}

.how_work2__text h3 {
  max-width: 21.5rem;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.3rem;
  margin-top: 7.6rem;
}

.how_we_work2_p {
  max-width: 45.9rem;
  width: 95%;
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.22px;
}

.how_work2__img img {
  max-width: 46rem;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 75%;
}

.work3__img {
  display: flex;
  justify-content: space-between;
}

.work3__img img {
  max-width: 9.2rem;
}

.work3__img p {
  font-size: 12rem;
  color: #fff;
}

.how_work3__text h3 {
  max-width: 21.5rem;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.3rem;
  margin-top: 7.6rem;
}

.how_we_work3_p {
  max-width: 45.9rem;
  width: 95%;
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.22px;
}

.how_work3__img img {
  max-width: 46rem;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 75%;
}

.work4__img {
  display: flex;
  justify-content: space-between;
}

.work4__img img {
  max-width: 9.2rem;
}

.work4__img p {
  font-size: 12rem;
  color: #fff;
}

.how_work4__text h3 {
  max-width: 21.5rem;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.3rem;
  margin-top: 7.6rem;
}

.how_we_work4_p {
  max-width: 45.9rem;
  width: 95%;
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.22px;
}

.how_work4__img img {
  max-width: 46rem;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 75%;
}

/* 
=====================================
BUTTON SECTION 
=====================================
*/

.container-button {
  max-width: 120rem;
  background-color: #292f36;
  border-radius: 7rem;
  padding: 80px 315px;
  margin: 0 auto;
  margin-top: 24rem;
}

.button-text {
  color: #fff;
}

.button-text h3 {
  max-width: 57rem;
  font-family: "DM Serif Display", serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 62.5px;
}

.button-text p {
  max-width: 45.2rem;
  font-family: "Jost", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
  margin: 0 auto;
  margin-top: 11px;
}

.boton-contact-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.button-text button {
  background-color: #cda274;
  padding: 26px 37px;
  color: #fff;
  border-radius: 18px;
}

.buttonn_interno img {
  max-width: 1.5rem;
  gap: 1.1rem;
}

/* 
=====================================
FOOTER SECTION 
=====================================
*/

.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
  margin-top: 20rem;
}

.footer {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr;
  padding-bottom: 8rem;
}

@media (width <= 920px) {
  .footer {
    padding-left: 5rem;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

@media (width <= 480px) {
  .footer {
    padding-left: 2rem;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

.footer-social__info {
  margin-top: 1.8rem;
  max-width: 39rem;
  color: #4d5053;
}

.footer-social__images {
  margin-top: 3rem;
  display: flex;
  gap: 5rem;
}

.footer-social__images img {
  width: 2rem;
  height: 2rem;
}

.footer-list strong {
  font-family: "DM Serif Display";
  font-weight: 400;
}

.footer-list ul {
  margin-top: 1rem;
  list-style: none;
  color: #4d5053;
  max-width: 25rem;
}

.footer-list--space ul {
  line-height: 300%;
}

.footer-list--normal ul li {
  margin-top: 2rem;
}

.footer-copy {
  margin-top: 10rem;
  color: #4d5053;
  text-align: center;
  grid-column: 1 / -1;
}
