@import url("normalize.css");

/* 
=====================================
NAVIGATION SECTION 
=====================================
*/

.navegacion {
  display: flex;
  justify-content: space-around;
  padding: 6.5rem;
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.logo h2 {
  color: #292f36;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
}

.logo img {
  max-width: 3.4rem;
}
.navegacion-items {
  color: #292f36;
  font-family: "DM Serif Display", serif;
}

.navegacion-items a {
  margin-right: 3rem;
}

.navegacion-items img {
  max-width: 3rem;
  margin-right: 3rem;
}

/* 
=====================================
HERO SECTION 
=====================================
*/

.hero-section {
  max-width: 192rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.hero-section-content {
  position: absolute;
  background-color: #fff;
  padding: 4rem 15rem;
  border-radius: 3.7rem 3.7rem 0 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.hero-section__page-title {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 5rem;
}

.hero-section__page-route {
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
}

/* 
=====================================
SERVICES SECTION 
=====================================
*/

.services_section {
  max-width: 115rem;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 38rem auto 0 auto;
}

.services_text-box {
  gap: 4.2rem;
  text-align: center;
}

.services_text-box h3 {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
}

.services_text-box p {
  max-width: 35rem;
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.22px;
  gap: 4.2rem;
  margin-top: 2rem;
}

.services_text-box button {
  color: #4d5053;
  font-family: "Jost";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.2rem;
  letter-spacing: 0.36px;
  margin: 5.2rem auto 17rem;
}

.services_button {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.services_text-box img {
  max-width: 1.5rem;
}
