@import url("normalize.css");

/*
  =====================================
  NAVIGATION SECTION
  =====================================
*/
.navegacion {
  display: flex;
  justify-content: space-around;
  padding: 6.5rem;
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.logo h2 {
  color: #292f36;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
}

.logo img {
  max-width: 3.4rem;
}
.navegacion-items {
  color: #292f36;
  font-family: "DM Serif Display", serif;
}

.navegacion-items a {
  margin-right: 3rem;
}

.navegacion-items img {
  max-width: 3rem;
  margin-right: 3rem;
}

/* 
=====================================
HERO SECTION 
=====================================
*/

.hero-section {
  max-width: 192rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.hero-section-content {
  position: absolute;
  background-color: #fff;
  padding: 4rem 15rem;
  border-radius: 3.7rem 3.7rem 0 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.hero-section__page-title {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 5rem;
}

.hero-section__page-route {
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
}

/* 
=====================================
TRENDS SERVICES SECTION 
=====================================
*/

.group_trends-services {
  max-width: 120rem;
  width: 95%;
  display: flex;
  margin: 20rem auto 0 auto;
  gap: 9.7rem;
}

.trends-services h3 {
  width: 44.8rem;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 5rem;
  font-weight: 400;
  line-height: 6.2rem;
}

.trends-services_text-box {
  max-width: 65.5rem;
}

.trends-services_text_une {
  color: #cda274;
  font-family: "Jost";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.7rem;
  letter-spacing: 0.25px;
}

.trends-services_text_two {
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.22px;
  margin-top: 2rem;
}

.trends-services_text_three {
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.22px;
  margin-top: 2.8rem;
}

/* 
=====================================
IMAGES SECTION 
=====================================
*/

.imagenes {
  max-width: 120rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 29rem;
}

@media (width <= 500px) {
  .imagenes {
    display: block;
  }

  .imagenes img {
    display: block;
    width: 40%;
    height: auto;
    margin: 100px auto 0 auto;
  }
}

.imagenes img {
  width: 10rem;
  height: 5rem;
}

/* 
=====================================
VIDEO SECTION 
=====================================
*/

.group_video {
  max-width: 120rem;
  margin: 15rem auto 0 auto;
  position: relative;
}

.video_section {
  border-radius: 7rem;
}

.icons_video_section {
  max-width: 13.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 
=====================================
USE AND MAKE SECTION 
=====================================
*/

.group_use_make {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16rem;
  margin-top: 15rem;
}

.group_use h3,
.group_make h3 {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 5rem;
  font-weight: 400;
  line-height: 6.2rem;
  letter-spacing: 1px;
}

.group_use li,
.group_make li {
  color: #cda274;
  font-family: "DM Serif Display";
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.4px;
  margin-top: 3rem;
}

.group_use span,
.group_make span {
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 5.9rem;
  line-height: 0.22px;
}

/* 
=====================================
DESIGN SECTION 
=====================================
*/

.design_section {
  max-width: 120rem;
  display: flex;
  margin: 15rem auto 0 auto;
  gap: 8.2rem;
}

.design_image img {
  max-width: 61.7rem;
  border-radius: 70px;
}

.design_text_box h3 {
  max-width: 51.8rem;
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 5rem;
  font-weight: 400;
  line-height: 6.2rem;
  letter-spacing: 1px;
}

.design_text_box p {
  max-width: 50rem;
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.3rem;
  letter-spacing: 0.22px;
  margin-top: 1.1rem;
}

.design_button {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3.2rem;
}

.design_text_box button {
  background-color: #292f36;
  color: #fff;
  padding: 2.6rem 4.8rem;
  border-radius: 1.8rem;
}

.design_text_box img {
  max-width: 1.5rem;
}

/* 
=====================================
BENEFIT SECTION 
=====================================
*/

.beneficio-section {
  min-height: 45rem;
  background-color: #f4f0ec;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
}

.beneficios {
  display: flex;
  justify-content: center;
  gap: 216px;
}

@media (width <= 700px) {
  .beneficios {
    flex-wrap: wrap;
    padding: 20px 0;
  }
}

.number {
  color: #cda274;
  font-family: "DM Serif Display", serif;
  font-size: 85px;
  font-weight: 400;
  line-height: 106.25px;
  letter-spacing: 1.7px;
  text-align: center;
}

.experience {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.22px;
}

/* 
=====================================
FOOTER SECTION 
=====================================
*/

.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
  margin-top: 20rem;
}

.footer {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr;
  padding-bottom: 8rem;
}

@media (width <= 920px) {
  .footer {
    padding-left: 5rem;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
}

@media (width <= 480px) {
  .footer {
    padding-left: 2rem;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

.footer-social__info {
  margin-top: 1.8rem;
  max-width: 39rem;
  color: #4d5053;
}

.footer-social__images {
  margin-top: 3rem;
  display: flex;
  gap: 5rem;
}

.footer-social__images img {
  width: 2rem;
  height: 2rem;
}

.footer-list strong {
  font-family: "DM Serif Display";
  font-weight: 400;
}

.footer-list ul {
  margin-top: 1rem;
  list-style: none;
  color: #4d5053;
  max-width: 25rem;
}

.footer-list--space ul {
  line-height: 300%;
}

.footer-list--normal ul li {
  margin-top: 2rem;
}

.footer-copy {
  margin-top: 10rem;
  color: #4d5053;
  text-align: center;
  grid-column: 1 / -1;
}
